@tailwind base;
@tailwind components;
@tailwind utilities;

html,
* {
  scroll-behavior: smooth;
}
section[id] {
  scroll-margin-top: 80px; /* header height */
}
:root {
  /* ================= PRIMARY (Slate) ================= */
  --color-primary-0: #ffffff;
  --color-primary-50: #f8fafc;
  --color-primary-100: #f1f5f9;
  --color-primary-200: #e2e8f0;
  --color-primary-300: #cbd5e1;
  --color-primary-400: #94a3b8;
  --color-primary-500: #64748b;
  --color-primary-600: #475569;
  --color-primary-700: #334155;
  --color-primary-800: #1e293b;
  --color-primary-900: #0f172a;

  /* ================= BRAND ================= */
  --color-brand-50: #f3f7ff;
  --color-brand-100: #e6efff;
  --color-brand-200: #cddfff;
  --color-brand-300: #a6c2ff;
  --color-brand-400: #7fa3ff;
  --color-brand-500: #4f7cff; /* MAIN */
  --color-brand-600: #3b63e6;
  --color-brand-700: #2f4ec2;
  --color-brand-800: #263f99;
  --color-brand-900: #1f347a;

  /* ================= STATIC BLUE ================= */
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;

  --color-cyan-500: #06b6d4; /* to-cyan-500 */

  --color-emerald-50: #ecfdf5; /* bg-emerald-50 */
  --color-emerald-600: #059669; /* text-emerald-600 */
  --color-emerald-700: #007a55;

  --color-indigo-50: #eef2ff; /* bg-indigo-50 */
  --color-indigo-600: #4f46e5; /* text-indigo-600 */

  --color-red-500: #ef4444; /* text-red-500 */
  --color-red-600: #e7000b;
  /* Green */
  --color-green-500: #22c55e; /* bg-green-500 */
  --color-green-600: #16a34a; /* bg-green-600 */
  --color-green-700: #15803d; /* bg-green-700 */

  /* ================= SHADOWS ================= */
  --shadow-xs: 0 1px 1px rgba(15, 23, 42, 0.04);
  --shadow-sm: 0 1px 2px rgba(15, 23, 42, 0.06);
  --shadow-md: 0 4px 12px rgba(15, 23, 42, 0.12);
  --shadow-lg: 0 10px 30px rgba(15, 23, 42, 0.18);
  --shadow-xl: 0 20px 50px rgba(15, 23, 42, 0.25);

  /* ================= HERO GLOWS ================= */
  --hero-glow-brand: rgba(79, 124, 255, 0.25);
  --hero-glow-blue: rgba(59, 130, 246, 0.22);

  --hero-glow-blur-lg: 140px;
  --hero-glow-blur-md: 100px;
}

.schedule-row {
  background-color: var(--row-bg);
}

/* default states */
.schedule-row[data-tone="0"] {
  --row-bg: var(--color-primary-0);
}
.schedule-row[data-tone="50"] {
  --row-bg: var(--color-primary-50);
}

/* hover swap */
.schedule-row[data-tone="0"]:hover {
  --row-bg: var(--color-blue-50);
}
.schedule-row[data-tone="50"]:hover {
  --row-bg: var(--color-blue-50);
}
@keyframes note-marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-note-marquee {
  animation: note-marquee 28s linear infinite;
}

.animate-note-marquee:hover {
  animation-play-state: paused;
}
